<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body class="ember-application">
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"
></script>
<!--/*@thymesVar id="artist" type="com.myaudiolibrary.web.model.Artist"*/-->
<div>
    <div th:replace="fragments/header :: menu"></div>

    <div class="container">

        <h2>Détail de l'artiste [[${artist.name}]]</h2>

        <div class="row" >
            <div class="col-lg-12" >
                <div class="form-group">
                    <form  id="saveForm"
                          th:action="${artist.id ==null ? '/artists' : '/artists/'+artist.id }"
                          th:method="${artist.id ==null ? 'post' : 'put'}">

                        <label for="name" class="form-control-label">Nom</label>
                        <input
                                type="text"
                                id="name"
                                name="name"
                                th:value="${artist.name}"
                                class="ember-text-field form-control ember-view"
                        />

                        <label class="form-control-label">Albums</label>
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="list-group">
                                    <li class="list-group-item" th:each="album : ${artist.albums}"
                                        th:text="${album.title}"></li>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center">
                                <div class="list-group text-center">
                                    <button class="btn-danger list-group-item list-group-item-action" th:each="album : ${artist.albums}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>


                    <div class="row">
                        <div class="col-lg-10">
                            <input
                                    type="text"
                                    placeholder="Ajouter un album..."
                                    class="form-control ember-text-field ember-view"
                            />
                        </div>
                        <div class="col-lg-2 text-center">
                            <button
                                    class="btn-success list-group-item list-group-item-action"
                            >
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-1">
                <button type="submit" form="saveForm" class="btn btn-primary"
                        th:text="${artist.id} ? 'Modifier':'Enregistrer'"></button>
            </div>
            <div class="col-md-1">
                <form th:if="${artist.id}" th:action="'/artists/'+ ${artist.id}" th:method="delete">
                    <button  class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>

    </div>
</div>


</body>
</html>
